.pagination.ng-table-pagination {
    margin: 6px 0 0 0;
}

.vtop {
    vertical-align: top!important;
}

table.table {
    &.ng-table {
        thead tr.ng-table-sort-header th {
            border-bottom: 0;
            padding-bottom: 0;
        }
        thead tr.ng-table-filters th {
            border-top: 0;
            padding-top: 0;
        }
        thead th {
            &.sortable,
            .sortable {
                //text-align: center;
                cursor: pointer;
                & > div > span::before {
                    font-family: 'Glyphicons Halflings';
                    opacity: 0.25;
                    content: "\e150";
                    padding-right: 5px;
                    position: relative;
                    font-size: 18px;
                    top: 3px;
                }
                &.sort-desc > div > span::before,
                .sort-desc > div > span::before {
                    font-family: 'Glyphicons Halflings';
                    opacity: 0.5;
                    content: "\e156";
                    padding-right: 5px;
                    position: relative;
                    font-size: 18px;
                    top: 4px;
                }
                &.sort-asc > div > span::before,
                .sort-asc > div > span::before {
                    font-family: 'Glyphicons Halflings';
                    opacity: 0.5;
                    content: "\e155";
                    padding-right: 5px;
                    position: relative;
                    font-size: 18px;
                    top: 4px;
                }
            }
        }
    }
    .btn {
        margin: 0;
        &.btn-role {
            width: 100%;
            padding: 8px;
        }
    }
    tbody tr td {
        vertical-align: middle;
    }
    .input-group {
        width: 100%;
    }
    .form-group {
        padding: 0;
        input.form-control,
        select.form-control {
            margin: 0;
        }
    }
    thead th {
        &.st-sort,
        .st-sort {
            cursor: pointer;
            &:before {
                font-family: 'Glyphicons Halflings';
                opacity: 0.25;
                content: "\e150";
                padding-right: 5px;
                position: relative;
                font-size: 18px;
                top: 3px;
            }
        }
        &.st-sort-descent:before,
        .st-sort-descent:before {
            font-family: 'Glyphicons Halflings';
            opacity: 0.5;
            content: "\e156";
            padding-right: 5px;
            position: relative;
            font-size: 18px;
            top: 4px;
        }
        &.st-sort-ascent:before,
        .st-sort-ascent:before {
            font-family: 'Glyphicons Halflings';
            opacity: 0.5;
            content: "\e155";
            padding-right: 5px;
            position: relative;
            font-size: 18px;
            top: 4px;
        }
    }
}
