.togglebutton {
    &.text-right label input[type=checkbox] + .toggle {
        margin-right: 7px;
    }
    @at-root .panel.panel-default .panel-heading & {
        label input[type=checkbox] + .toggle {
            background-color: lighten(black, 40%);
        }
    }
    @at-root .panel.panel-danger .panel-heading & {
        label input[type=checkbox]:checked + .toggle {
            background-color: rgba(255, 255, 255, 0.84);
            &::after {
                background-color: lighten($brand-danger, 0%);
            }
        }
    }
    @at-root .panel.panel-warning .panel-heading & {
        label input[type=checkbox]:checked + .toggle {
            background-color: rgba(255, 255, 255, 0.84);
            &::after {
                background-color: lighten($brand-warning, 0%);
            }
        }
    }
    @at-root .panel.panel-success .panel-heading & {
        label input[type=checkbox]:checked + .toggle {
            background-color: rgba(255, 255, 255, 0.84);
            &::after {
                background-color: lighten($brand-success, 0%);
            }
        }
    }
    white-space: nowrap;
    &.togglebutton-label-left label span.toggle {
        margin: 0 10px;
    }
    &.togglebutton-success-danger label {
        color: $brand-danger;
        &.text-success {
            color: $brand-success;
        }
        input[type=checkbox] {
            & + .toggle {
                background-color: darken($brand-danger, 10%);
            }
            &:checked + .toggle {
                background-color: darken($brand-success, 10%);
                &::after {
                    background-color: #F1F1F1;
                }
            }
        }
    }
    &:not(.togglebutton-success-danger) label input[type=checkbox] {
        & + .toggle {
            background-color: darken($brand-primary, 10%);
        }
        &:checked + .toggle {
            background-color: lighten($brand-primary, 30%);
            &::after {
                box-shadow: 0 0px 3px 1px rgba(255, 255, 255, 0.4);
                @at-root .panel .panel-heading #{&} {
                    box-shadow: 0 0px 3px 1px rgba(0, 0, 0, 0.4);
                }
            }
        }
        &[disabled]:checked + .toggle::after {
            background-color: lighten($brand-primary, 40%);
        }
    }
}
