.ui-sortable-handle.grabbable {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    &.ui-sortable-helper {
        transition: transform .2s;
        transform: rotate(5deg);
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
    }
}

.ui-sortable-placeholder {
    visibility: visible !important;
    background-color: lighten($brand-primary, 40%);
    box-shadow: none;
    animation: breathe 1s infinite ease-in-out;
    @keyframes breathe {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}
