<h3>Formations s&eacute;curit&eacute; - statistiques</h3>
<br />
<div class="row" ng-if="!stats">
    <div class="col-md-8 col-md-offset-2">
        <div ng-include="'./components/dialogs/trainings_statistics.html'"></div>
    </div>
</div>
<div class="panel panel-primary" ng-if="stats">
    <div class="panel-heading">
        <div class="row">
            <div class="col-sm-4 col-xs-12">Statistiques</div>
            <div class="col-sm-8 col-xs-12 text-right">
                <state-sustain items="certificates" items-id="cert_short" state="checked" state-id="certificates_checked">
                    <div class="btn-group">
                        <label class="btn btn-raised btn-default btn-sm" ng-model="cert.checked" uib-btn-checkbox ng-repeat="cert in certificates" tooltip="{{cert.cert_name}}">{{cert.cert_short}}</label>
                    </div>
                </state-sustain>
            </div>
        </div>
    </div>
    <table class="table table-striped table-hover trainings-stats">
        <tbody ng-repeat="intervalStats in stats">
            <tr>
                <th class="text-center">{{intervalStats.interval !== 0 ? 'par' : 'sur la'}} {{getIntervalDisplay(intervalStats.interval)}}</th>
                <th class="text-center" ng-repeat="col in intervalStats.stats" colspan="{{$last && columns / intervalStats.colSpan > 1 && columns % intervalStats.colSpan ? columns - 1 : intervalStats.colSpan || columns}}">
                    {{getDatesRangeDisplay(intervalStats.interval, col.beginning, col.end)}}
                </th>
            </tr>
            <tr ng-repeat="(certPk, cert) in certificates" ng-if="cert.checked">
                <td class="text-center">
                    <abbr title="{{cert.cert_name}}" class="initialism">{{cert.cert_short}}</abbr>
                </td>
                <td class="text-center" ng-repeat="col in intervalStats.stats" colspan="{{$last && columns / intervalStats.colSpan > 1 && columns % intervalStats.colSpan ? columns - 1 : intervalStats.colSpan || columns}}">
                    <abbr title="{{col.certificates[certPk].employeesRegistered || 0}} {{cert.cert_short}} form&eacute;(s) sur cette p&eacute;riode" class="text-success">+&nbsp;{{col.certificates[certPk].employeesRegistered || 0}}</abbr> /
                    <abbr title="{{col.certificates[certPk].employeesExpired || 0}} {{cert.cert_short}} &agrave; renouveller sur cette p&eacute;riode" class="text-danger">-&nbsp;{{col.certificates[certPk].employeesExpired || 0}}</abbr>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="side-panel-container">
    <button type="button" class="btn btn-raised btn-primary side-panel-item" ng-click="edit()" ng-disabled="!stats">
        <span class="glyphicon glyphicon-wrench"></span>&nbsp;Modifier param&egrave;tres
    </button>
</div>
