<h3>Formations s&eacute;curit&eacute; - statistiques</h3>
<br />
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-4 col-xs-12">Statistiques</div>
                    <div class="col-sm-8 col-xs-12 text-right">
                        <state-sustain items="certificates" items-id="cert_short" state="checked" state-id="certificates_checked">
                            <div class="btn-group">
                                <label class="btn btn-raised btn-default btn-sm" ng-model="cert.checked" uib-btn-checkbox ng-repeat="cert in certificates" tooltip="{{cert.cert_name}}">{{cert.cert_short}}</label>
                            </div>
                        </state-sustain>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover trainings-stats">
                <tbody ng-repeat="intervalStats in stats">
                    <tr>
                        <th class="text-center">sur {{intervalStats.interval}} mois</th>
                        <th class="text-center" ng-repeat="col in intervalStats.stats" colspan="{{$last && columns.length % intervalStats.colSpan ? 1 : intervalStats.colSpan}}">
                            {{col.beginning | date: 'MMM yyyy'}} - {{col.end | date: 'MMM yyyy'}}
                        </th>
                    </tr>
                    <tr ng-repeat="(certPk, cert) in certificates" ng-if="cert.checked">
                        <td class="text-right">{{cert.cert_name}}</td>
                        <td class="text-center" ng-repeat="col in intervalStats.stats" colspan="{{$last && columns.length % intervalStats.colSpan ? 1 : intervalStats.colSpan}}">
                            <abbr title="{{col.certificates[certPk].employeesRegistered || 0}} {{cert.cert_short}} form&eacute;(s) sur cette p&eacute;riode" class="text-success">+ {{col.certificates[certPk].employeesRegistered || 0}}</abbr> &nbsp;/&nbsp;
                            <abbr title="{{col.certificates[certPk].employeesExpired || 0}} {{cert.cert_short}} &agrave; renouveller sur cette p&eacute;riode" class="text-danger">- {{col.certificates[certPk].employeesExpired || 0}}</abbr>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<pre>{{stats | json}}</pre>
