<h3>Formations - recherche avanc&eacute;e</h3>
<br />
<div class="row">
    <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-0">
        <div class="panel panel-primary">
            <div class="panel-heading">Param&egrave;tres de recherche</div>
            <div class="panel-body form form-horizontal" autocomplete="off">
                <div class="form-group">
                    <label for="status" class="col-xs-4 control-label">Statut</label>
                    <div class="col-xs-8">
                        <select id="status" class="form-control" ng-model="filter.status" ng-options="option.value as option.display for option in [{value: 'schd', display: 'Pr&eacute;vue'}, {value: 'over', display: 'R&eacute;alis&eacute;e'}]">
                            <option value="" selected>{{filter.status ? 'Ne pas filtrer' : ''}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 control-label">Date de formation</label>
                    <div class="col-xs-8" ng-if="!filter.date">
                        <select class="form-control" ng-model="dateMode" ng-options="option as option.display for option in datesOptions" ng-change="addDates(dateMode); dateMode=undefined"></select>
                    </div>
                    <div class="col-xs-8" ng-if="filter.date">
                        <div class="pill pill-label clickme" ng-click="filter.date = undefined" ng-if="filter.date" ng-switch="filter.date.o">
                            <span ng-switch-when="soon">Dans moins de <span class="text-primary">{{filter.date.data}}</span> mois</span>
                            <span ng-switch-when="recent">Il y a moins de <span class="text-primary">{{filter.date.data}}</span> mois</span>
                            <span ng-switch-when="specific">Entre le <span class="text-primary">{{filter.date.from | date: 'dd/MM/yyyy'}}</span> et le <span class="text-primary">{{filter.date.to | date: 'dd/MM/yyyy'}}</span></span>
                            <span class="pill-delete">&times;</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 control-label">Type(s) de formation</label>
                    <div class="col-xs-8">
                        <select class="form-control" ng-model="certMode" ng-options="option.value as option.display for option in [{value: true, display: 'Octroyant une certaine aptitude'}, {value: false, display: 'Type particulier de formation'}]"
                            ng-change="addTypes(certMode)">
                            <option value="" selected></option>
                        </select>
                    </div>
                    <div class="col-xs-4"></div>
                    <div class="col-xs-8">
                        <div class="pill clickme" ng-click="filter.trtys.splice(filter.trtys.indexOf(trty_pk), 1)" ng-repeat="trty_pk in filter.trtys">
                            {{trainingTypes[trty_pk].trty_name}}<span class="pill-delete">&times;</span>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label for="employees" class="col-xs-4 control-label">Nombre d'inscrits</label>
                    <div class="col-xs-5">
                        <select class="form-control" ng-model="filter.nb.o" ng-options="option.value as option.short + ' (' + option.display + ')' for option in comparisonOptions" ng-change="filter.nb.o ? '': filter.nb = undefined">
                            <option value="" selected>{{filter.nb.o ? 'Ne pas filtrer' : ''}}</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <input id="employees" type="number" min="0" class="form-control" ng-model="filter.nb.d" ng-disabled="!filter.nb.o" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="succeeded" class="col-xs-4 control-label">Nombre de valid&eacute;s</label>
                    <div class="col-xs-5">
                        <select class="form-control" ng-model="filter.scdd.o" ng-options="option.value as option.short + ' (' + option.display + ')' for option in comparisonOptions" ng-change="filter.scdd.o ? '': filter.scdd = undefined">
                            <option value="" selected>{{filter.scdd.o ? 'Ne pas filtrer' : ''}}</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <input id="succeeded" type="number" min="0" class="form-control" ng-model="filter.scdd.d" ng-disabled="!filter.scdd.o" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="flunked" class="col-xs-4 control-label">Recal&eacute;s/absents</label>
                    <div class="col-xs-5">
                        <select class="form-control" ng-model="filter.flkd.o" ng-options="option.value as option.short + ' (' + option.display + ')' for option in comparisonOptions" ng-change="filter.flkd.o ? '': filter.flkd = undefined">
                            <option value="" selected>{{filter.flkd.o ? 'Ne pas filtrer' : ''}}</option>
                        </select>
                    </div>
                    <div class="col-xs-3">
                        <input id="flunked" type="number" min="0" class="form-control" ng-model="filter.flkd.d" ng-disabled="!filter.flkd.o" />
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-0">
        <div class="panel panel-primary">
            <div class="panel-heading">Param&egrave;tres d'affichage</div>
            <div class="panel-body form form-horizontal" autocomplete="off">
                <div class="form-group">
                    <label for="type" class="col-xs-4 control-label checkbox-label">Type de formation</label>
                    <div class="col-xs-8 checkbox">
                        <label>
                            <input id="type" type="checkbox" disabled checked />
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="start" class="col-xs-4 control-label checkbox-label">D&eacute;but de formation</label>
                    <div class="col-xs-8 checkbox">
                        <label>
                            <input id="start" type="checkbox" ng-model="display.start" />
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="date" class="col-xs-4 control-label checkbox-label">Date de formation</label>
                    <div class="col-xs-8 checkbox">
                        <label>
                            <input id="date" type="checkbox" disabled checked />
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="status" class="col-xs-4 control-label checkbox-label">Statut</label>
                    <div class="col-xs-8 checkbox">
                        <label>
                            <input id="status" type="checkbox" ng-model="display.status" />
                        </label>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label for="registered" class="col-xs-4 control-label checkbox-label">Nombre d'inscrits</label>
                    <div class="col-xs-8 checkbox">
                        <label>
                            <input id="registered" type="checkbox" ng-model="display.registered" />
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="trained" class="col-xs-4 control-label checkbox-label">Nombre de valid&eacute;s</label>
                    <div class="col-xs-8 checkbox">
                        <label>
                            <input id="trained" type="checkbox" ng-model="display.validated" />
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="flunked" class="col-xs-4 control-label checkbox-label">Recal&eacute;s/absents</label>
                    <div class="col-xs-8 checkbox">
                        <label>
                            <input id="flunked" type="checkbox" ng-model="display.flunked" />
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
<div class="side-panel-container text-right">
    <button type="button" class="btn btn-raised btn-success side-panel-item" ng-click="search()"><span class="glyphicon glyphicon-search"></span>&nbsp;Lancer la recherche</button>
</div>
