table.table.trainings-stats tr {
    td,
    th {
        &:nth-child(n+2) {
            border-left: 1px solid #ddd;
        }
    }
    td + td {
        cursor: pointer;
        &:hover {
            background: #eee;
        }
    }
}

table.table.trainings-stats-details {
    th,
    td {
        padding: 8px 15px;
    }
}

.pseudo-control-label {
    margin-top: 8px;
    padding-top: 8px;
}