<h3 ng-if="trng.type">{{trng.type.trty_name}}<span ng-if="trng.trng_date"> - {{trng.trng_date | date: 'fullDate'}}</span>
  <small ng-if="trng.trng_outcome"> - 
    <span ng-if="trng.trng_outcome === 'SCHEDULED'" class="text-primary">Pr&eacute;vue</span>
    <span ng-if="trng.trng_outcome === 'COMPLETED'" class="text-success">R&eacute;alis&eacute;e</span>
    <span ng-if="trng.trng_outcome === 'CANCELLED'" class="text-danger">Annul&eacute;e</span>
  </small>
</h3>
<h3 ng-if="!trng.type">Nouvelle formation</h3>
<br />
<div class="row">
    <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">Tableau de bord</div>
            <div class="panel-body">
                <form class="form-horizontal" autocomplete="off">
                    <div class="form-group">
                        <label for="type" class="col-xs-4 control-label">Type de formation</label>
                        <div class="col-xs-8">
                            <select id="type" class="form-control" ng-model="trng.type" ng-options="type as type.trty_name for type in trainingTypes | orderBy: type.trty_pk"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="date" class="col-xs-4 control-label">Dernier jour de formation</label>
                        <div class="col-xs-8">
                            <input id="date" type="text" ng-model="trng.trng_date" class="form-control" ng-click="datepicker=true" uib-datepicker-popup="fullDate" datepicker-mode="'month'" is-open="datepicker" show-button-bar="false" starting-day="1" date-disabled="disabled(date, mode)" show-weeks="false">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="comment" class="col-xs-4 control-label">M&eacute;morandum</label>
                        <div class="col-xs-8">
                            <textarea id="comment" rows="3" ng-model="trng.trng_comment" class="form-control vresize"></textarea>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label for="trainer" class="col-xs-4 control-label">Formateur(s)</label>
                        <div class="col-xs-8">
                            <input id="trainer" type="text" class="form-control" ng-model="empl" placeholder="Ajouter formateur..." uib-typeahead="empl as empl.summary for empl in employees | filterEmpl:$viewValue | limitTo:8"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-8">
                            <div ng-repeat="trainer in trng.trainers" class="pill clickme" ng-click="trng.trainers.splice($index, 1)">{{trainer.empl_surname + ' ' + trainer.empl_firstname}}<span class="pill-delete">&times;</span>
                            </div>
                        </div>
                    </div>
                </form>
                <hr ng-if="trng.type" />
                <div class="row" ng-if="trng.type">
                    <div class="hidden-xs col-sm-4 text-right">Aptitude(s) acquise(s)<span ng-if="trng.trng_date"> jusqu'au</span></div>
                    <div class="visible-xs-inline col-xs-4 text-right">Valide<span ng-if="trng.trng_date"> jusqu'au</span></div>
                    <div class="col-xs-8">
                        <span ng-if="trng.trng_date"><strong>{{trng.expirationDate | date: 'fullDate'}}</strong> (<span class="text-primary">{{trng.expirationDate | fromNow}}</span>)</span>
                        <span class="hidden-xs" ng-class="{'pull-right': trng.trng_date}">
                            valide <strong>{{trng.type.trty_validity}}</strong>&nbsp;mois (<span class="text-primary">{{trng.validity}} ans</span>)
                        </span>
                    </div>
                </div>
                <div class="row" ng-repeat="cert in trng.type.certificates" ng-if="trng.type">
                    <div class="col-xs-4 text-right"><span class="label label-success">{{cert.cert_short}}</span></div>
                    <div class="col-xs-8">{{cert.cert_name}}</div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-4 text-right">Nombre d'agents inscrits</div>
                    <div class="col-xs-8">
                        <strong class="text-primary">{{trainees.length}}</strong>
                        <div class="pull-right" ng-if="!trng.trng_pk">
                            <button type="button" class="btn btn-primary no-margin" ng-click="registerAgents()">Inscrire agent(s)</button>
                        </div>
                        <div class="pull-right" ng-if="trng.trng_outcome === 'COMPLETED'">
                            <strong>{{(trainees | filter: {trem_outcome: "VALIDATED"}).length}}</strong> <span class="text-success">valid&eacute;(s)</span> et <strong>{{(trainees | filter: {trem_outcome: "!VALIDATED"}).length}}</strong> <span class="text-danger">recal&eacute;(s)/absent(s)</span>
                        </div>
                        <div class="pull-right" ng-if="trng.trng_outcome === 'SCHEDULED'">
                            <span class="text-warning"><abbr title="Procès Verbal">PV</abbr> de fin de session non dress&eacute;</span>
                        </div>
                        <div class="pull-right" ng-if="trng.trng_outcome === 'CANCELLED'">
                            <span class="text-danger">Formation annul&eacute;e</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="panel panel-primary" st-table="shown" st-safe-src="trainees" ng-if="trainees.length > 0">
            <div class="panel-heading">Agents inscrits</div>
            <table class="table table table-striped table-hover">
                <thead>
                    <tr>
                        <th width="20%">
                            <span class="st-sort" st-sort="empl_pk">Matricule</span>
                            <input st-search="empl_pk" placeholder="Rechercher..." class="form-control" type="text" />
                        </th>
                        <th class="shrinkable" width="30%">
                            <span class="st-sort" st-sort="empl_surname" st-skip-natural="true">Nom</span>
                            <input st-search="empl_surname" placeholder="Rechercher..." class="form-control" type="text" />
                        </th>
                        <th class="shrinkable" width="30%">
                            <span class="st-sort" st-sort="empl_firstname" st-skip-natural="true">Pr&eacute;nom</span>
                            <input st-search="empl_firstname" placeholder="Rechercher..." class="form-control" type="text" />
                        </th>
                        <th class="vtop">
                            <span class="st-sort" st-sort="empl_permanent" st-skip-natural="true">Statut</span>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="empl in shown track by empl.empl_pk" ng-mouseenter="hover=true" ng-mouseleave="hover = false">
                        <td class="shrinkable">{{empl.empl_pk}}</td>
                        <td class="shrinkable" ng-class="{'text-primary': hover}">{{empl.empl_surname}}</td>
                        <td class="shrinkable" ng-class="{'text-primary': hover}">{{empl.empl_firstname}}</td>
                        <td class="text-center"><span class="label" ng-class="{'label-warning': !empl.empl_permanent, 'label-success': empl.empl_permanent}">{{empl.empl_permanent ? 'CDI' : 'CDD'}}</span></td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm" ng-disabled="!hover" ng-click="unregister(empl)">D&eacute;sinscrire</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="side-panel-container text-right">
    <button type="button" class="btn btn-raised btn-success side-panel-item" ng-click="save()" ng-disabled="!(trng.type && trng.trng_date)"><span class="glyphicon glyphicon-ok"></span>&nbsp;Enregistrer</button>
    <br />
    <button type="button" class="btn btn-raised btn-primary side-panel-item" ng-click="registerAgents()"><span class="glyphicon glyphicon-plus"></span>&nbsp;Inscrire agent(s)</button>
    <button type="button" class="btn btn-raised btn-raised btn-danger side-panel-item" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span>&nbsp;Annuler</button>
</div>
