<h3>Aptitudes et <a href="#/administration/training_types">types de formations</a><small> - Aptitudes</small></h3>
<br />
<div style="display: flex; flex-wrap: wrap; justify-content: space-around; align-items: flex-start;">
    <div class="panel panel-primary" ng-repeat="cert in certificates" style="flex-basis: 500px;">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-8" style="margin-top: 9px;">
                    <label class="label label-default">{{cert.cert_short}}</label> - {{cert.cert_name}}
                </div>
                <div class="col-xs-4 text-right">
                    <button type="button" class="btn btn-warning no-margin" ng-click="edit(cert)">Modifier</button>
                </div>
            </div>
        </div>
        <div class="panel-body hover-trigger">
            <div class="col-xs-3 text-right">Cible</div>
            <div class="col-xs-9"><span class="text-primary">{{cert.cert_target}}</span>% de l'effectif</div>
            <div class="col-xs-3 text-right">Indicateurs</div>
            <div class="col-xs-9">
                <label class="label label-success">vert</label> - cible <span class="text-success">atteinte</span>
                <span class="pull-right">au-dessus de <span class="text-success">{{cert.cert_target}}</span>%</span>
            </div>
            <div class="col-xs-3"></div>
            <div class="col-xs-9">
                <label class="label label-warning">orange</label> - cible <span class="text-warning">presque atteinte</span>
                <span class="pull-right">entre <span class="text-warning">{{round(cert.cert_target * 2/3)}}</span> et <span class="text-warning">{{cert.cert_target}}</span>%</span>
            </div>
            <div class="col-xs-3"></div>
            <div class="col-xs-9">
                <label class="label label-danger">rouge</label> - cible <span class="text-danger">non atteinte</span>
                <span class="pull-right">en-dessous de <span class="text-danger">{{round(cert.cert_target * 2/3)}}</span>%</span>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <uib-progress class="progress progress-striped hover-target">
                        <uib-bar value="round(cert.cert_target * 2/3)" type="danger"><span>&lt;&nbsp;{{round(cert.cert_target * 2/3)}}%</span></uib-bar>
                        <uib-bar value="round(cert.cert_target * 1/3)" type="warning"></uib-bar>
                        <uib-bar value="100 - cert.cert_target" type="success"><span>&ge;&nbsp;{{cert.cert_target}}%</span></uib-bar>
                    </uib-progress>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="side-panel-container">
    <button type="button" class="btn btn-raised btn-success side-panel-item" ng-click="edit()"><span class="glyphicon glyphicon-plus"></span>&nbsp;Cr&eacute;er nouvelle aptitude</button>
</div>
