<div class="panel panel-{{edit ? 'primary' : 'success'}}" ng-init="edit = cert.cert_pk">
    <div class="panel-heading">
        <span ng-if="edit"><label class="label label-default">{{cert.cert_short}}</label> - {{cert.cert_name}}</span>
        <span ng-if="!edit">Nouvelle aptitude</span>
        <span class="clickme pull-right" ng-click="closeThisDialog()">&nbsp;<span class="glyphicon glyphicon-remove"></span></span>
    </div>
    <form class="panel-body form-horizontal" autocomplete="off">
        <div class="form-group">
            <label class="control-label col-xs-4">Nom</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" ng-model="cert.cert_name" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-4">Abbr&eacute;viation</label>
            <div class="col-xs-8">
                <input type="text" class="form-control" ng-model="cert.cert_short" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-4">Effectif cible</label>
            <div class="col-xs-8">
                <div class="input-group">
                    <input type="number" class="form-control" min="0" max="100" ng-model="cert.cert_target" />
                    <span class="input-group-addon">%</span>
                </div>
            </div>
        </div>
    </form>
    <div class="panel-footer text-center">
        <div ng-if="edit">
            <button type="button" class="btn btn-primary" ng-click="exec()">Sauvegarder</button>
            <button type="button" class="btn btn-danger" ng-click="delete()">Supprimer</button>
        </div>
        <div ng-if="!edit">
            <button type="button" class="btn btn-success" ng-click="exec()">Sauvegarder</button>
            <button type="button" class="btn btn-default" ng-click="closeThisDialog()">Annuler</button>
        </div>
    </div>
</div>
