<div class="panel panel-primary">
    <div class="panel-heading">
        Param&egrave;tres d'affichage
        <span class="clickme pull-right" ng-click="closeThisDialog()" ng-if="closeThisDialog">&nbsp;<span class="glyphicon glyphicon-remove"></span></span>
    </div>
    <div class="panel-body form form-horizontal" autocomplete="off">
        <div class="form-group">
            <label for="surname" class="col-xs-4 control-label checkbox-label">Nom</label>
            <div class="col-xs-8 checkbox">
                <label>
                    <input id="surname" type="checkbox" disabled checked />
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="firstname" class="col-xs-4 control-label checkbox-label">Pr&eacute;nom</label>
            <div class="col-xs-8 checkbox">
                <label>
                    <input id="firstname" type="checkbox" disabled checked />
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="site" class="col-xs-4 control-label checkbox-label">Affectation</label>
            <div class="col-xs-8 checkbox">
                <label>
                    <input id="site" type="checkbox" ng-model="display.site" />
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="status" class="col-xs-4 control-label checkbox-label">Statut (CDI/CDD)</label>
            <div class="col-xs-8 checkbox">
                <label>
                    <input id="status" type="checkbox" ng-model="display.status" />
                </label>
            </div>
        </div>
        <hr />
        <div class="form-group" ng-repeat="cert in certificates | orderBy: 'cert_order'">
            <label for="permanent" class="col-xs-4 control-label checkbox-label">Aptitude {{cert.cert_short}}</label>
            <div class="col-xs-8 checkbox">
                <label>
                    <input id="permanent" type="checkbox" ng-model="display[cert.cert_pk].st" />
                    <span class="checkbox-label">Statut</span>
                </label>
            </div>
            <div class="col-xs-4"></div>
            <div class="col-xs-8 checkbox">
                <label>
                    <input id="permanent" type="checkbox" ng-model="display[cert.cert_pk].exp" />
                    <span class="checkbox-label">Date d'expiration</span>
                </label>
            </div>
            <div class="col-xs-4"></div>
            <div class="col-xs-8 checkbox">
                <label>
                    <input id="permanent" type="checkbox" ng-model="display[cert.cert_pk].flnk" />
                    <span class="checkbox-label">Nombre d'absences/recalages</span>
                </label>
            </div>
        </div>
    </div>
    <div class="panel-footer text-center" ng-if="closeThisDialog">
        <button type="submit" class="btn btn-primary" ng-click="callback(display); closeThisDialog()">Ok</button>
        <button type="button" class="btn btn-default" ng-click="closeThisDialog()">Annuler</button>
    </div>
</div>
