<form class="panel panel-primary form form-horizontal" ng-submit="register()" autocomplete="off" ng-init="mode = true;">
    <div class="panel-heading">
        Inscrire&nbsp;&nbsp;
        <div style="display: inline-table;">
            <input bswitch="mode" type="checkbox" data-on-color="primary" data-off-color="primary" data-on-text="Agents" data-off-text="Site" data-label-width="0" />
        </div>
        <span class="clickme pull-right" ng-click="closeThisDialog()">&nbsp;<span class="glyphicon glyphicon-remove"></span></span>
    </div>
    <div class="panel-body">
        <div class="form-group" ng-show="!mode">
            <label for="inputSite" class="control-label col-md-4 col-sm-4">Site</label>
            <div class="col-md-8 col-sm-8">
                <input id="inputSite" type="text" class="form-control" ng-model="site" placeholder="Rechercher..." uib-typeahead="site as site.summary for site in sites | filterSite:$viewValue | limitTo:8" />
            </div>
        </div>
        <div class="form-group" ng-show="mode">
            <label for="inputEmpl" class="control-label col-md-4 col-sm-4">Agent</label>
            <div class="col-md-8 col-sm-8">
                <input id="inputEmpl" type="text" class="form-control" ng-model="empl" placeholder="Rechercher..." class="form-control" uib-typeahead="empl as empl.summary for empl in employees | filterEmpl:$viewValue | limitTo:8" />
                <p class="help-block text-danger" ng-show="alreadyRegistered && empl.empl_pk">D&eacute;j&agrave; enregistr&eacute;(e)</p>
            </div>
        </div>
        <hr />
        <div class="col-xs-4 text-right">Agents inscrits</div>
        <div class="col-xs-8">
            <strong class="text-primary">{{trainees.length}}</strong>
        </div>
    </div>
    <div class="panel-footer text-center" ng-switch="mode">
        <button type="submit" class="btn btn-primary" ng-disabled="alreadyRegistered || loading || (!mode && !site.site_pk || mode && !empl.empl_pk)">
            <span ng-if="mode">Inscrire agent</span>
            <span ng-if="!mode">
                <span ng-if="!loading">Inscrire tout le site</span>
            <span ng-if="loading">Inscription...</span>
            </span>
        </button>
    </div>
</form>
