<form class="form-horizontal" autocomplete="off" ng-submit="closeThisDialog(); addTypesFor(certMode, cert || trty)">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Ajouter type de formation
            <span class="clickme pull-right" ng-click="closeThisDialog()">&nbsp;<span class="glyphicon glyphicon-remove"></span></span>
        </div>
        <div class="panel-body">
            <div class="form-group" ng-show="certMode">
                <label for="cert" class="col-xs-4 control-label">Octroyant l'aptitude</label>
                <div class="col-xs-8">
                    <select id="cert" class="form-control" ng-model="cert" ng-options="cert as cert.cert_name for cert in certificates"></select>
                </div>
            </div>
            <div class="form-group" ng-show="!certMode">
                <label for="trty" class="col-xs-4 control-label">Type de formation</label>
                <div class="col-xs-8">
                    <select id="trty" class="form-control" ng-model="trty" ng-options="trty as trty.trty_name for trty in trainingTypes"></select>
                </div>
            </div>
        </div>
        <div class="panel-footer text-center">
            <button type="submit" class="btn btn-primary" ng-disabled="!(cert || trty)">Ok</button>
            <button type="button" class="btn btn-default" ng-click="closeThisDialog()">Annuler</button>
        </div>
    </div>
</form>
