<div class="panel panel-primary">
    <div class="panel-heading">
        Param&egrave;tres d'affichage
        <span class="clickme pull-right" ng-click="closeThisDialog()" ng-if="closeThisDialog">&nbsp;<span class="glyphicon glyphicon-remove"></span></span>
    </div>
    <div class="panel-body form form-horizontal" autocomplete="off">
        <div class="form-group">
            <label for="type" class="col-xs-4 control-label checkbox-label">Type de formation</label>
            <div class="col-xs-8 checkbox">
                <label>
                    <input id="type" type="checkbox" disabled checked />
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="start" class="col-xs-4 control-label checkbox-label">Date de d&eacute;but</label>
            <div class="col-xs-8 checkbox">
                <label>
                    <input id="start" type="checkbox" ng-model="display.start" />
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="date" class="col-xs-4 control-label checkbox-label">Date de {{display.start ? 'fin' : 'formation'}}</label>
            <div class="col-xs-8 checkbox">
                <label>
                    <input id="date" type="checkbox" disabled checked />
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="status" class="col-xs-4 control-label checkbox-label">Statut</label>
            <div class="col-xs-8 checkbox">
                <label>
                    <input id="status" type="checkbox" ng-model="display.status" />
                </label>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <label for="registered" class="col-xs-4 control-label checkbox-label">Nombre d'inscrits</label>
            <div class="col-xs-8 checkbox">
                <label>
                    <input id="registered" type="checkbox" ng-model="display.registered" />
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="trained" class="col-xs-4 control-label checkbox-label">Nombre de valid&eacute;s</label>
            <div class="col-xs-8 checkbox">
                <label>
                    <input id="trained" type="checkbox" ng-model="display.validated" />
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="flunked" class="col-xs-4 control-label checkbox-label">Recal&eacute;s/absents</label>
            <div class="col-xs-8 checkbox">
                <label>
                    <input id="flunked" type="checkbox" ng-model="display.flunked" />
                </label>
            </div>
        </div>
    </div>
    <div class="panel-footer text-center" ng-if="closeThisDialog">
        <button type="submit" class="btn btn-primary" ng-click="callback(display); closeThisDialog()">Ok</button>
        <button type="button" class="btn btn-default" ng-click="closeThisDialog()">Annuler</button>
    </div>
</div>
