<!DOCTYPE html>
<html lang="fr" ng-app="faomaintenanceApp" ng-controller="IndexCtrl">

    <head>
        <meta charset="utf-8">
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/trianglify/0.4.0/trianglify.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="//npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>
        <script type="text/javascript" src="bundle.js" async></script>
        <title ng-bind="'Orca' + (ready && clientInfo.clnt_id ? '&nbsp;&mdash;&nbsp;' + clientInfo.clnt_name : '')">Orca</title>
        <link rel="shortcut icon" href="./img/favicon.ico" />
    </head>

    <body style="visibility: hidden;">
        <script type="text/javascript">
        // Create ripple effect after logo has loaded
        $('#orca_logo').imagesLoaded(function() {
            $('#ripple_container').append($('<div />', {
                "class": 'circle'
            }));
        });

        // Create background
        function trianglify() {
            /*jshint camelcase: false*/
            var pattern = new Trianglify({
                width: window.innerWidth,
                height: window.innerHeight,
                x_colors: 'Blues'
            });

            document.body.style['background-image'] = 'url(' + pattern.png() + ')';
        }

        if (screen.width > 768) {
            trianglify();
            document.body.style['background-attachment'] = 'fixed';
            window.onresize = trianglify;
        }
        </script>

        <div class="absolute-center" id="ripple_container"></div>
        <div class="absolute-center" id="orca_logo" ng-hide="ready && clientInfo.clnt_id">
            <img src="./img/logo_complete.png">
        </div>
        <div ng-include="'./components/index/alerts.html'"></div>
        <div class="container" deferred-cloak ng-show="ready && clientInfo.clnt_id">
            <header>
                <div class="row top-panel" id="top-panel">
                    <div class="col-md-4 col-md-offset-4 col-sm-6">
                        <a href="#/home" class="logo"><img ng-src="{{clientInfo.clnt_logo}}" alt="Logo {{clientInfo.clnt_name}}" /></a>
                    </div>
                    <div class="col-md-4 col-sm-6 connection-status">
                        <div ng-if="userInfo"><span ng-bind="'Connect&eacute;(e) en tant que'"></span> <span class="text-primary" ng-bind="userInfo.empl_firstname + ' ' + userInfo.empl_surname"></span>
                            <br />
                            <button type="button" class="btn btn-danger btn-sm" ng-click="disconnect()" ng-bind="'Se d&eacute;connecter'"></button>
                        </div>
                    </div>
                </div>
                <div class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse"> <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#/home"><img src="./img/logo_minimalist.png"></a>
                        </div>
                        <div ng-include="'./components/index/navbar.html'" ng-if="currentUser.info"></div>
                    </div>
                </div>
            </header>
            <div class="content">
                <busy>
                    <div ng-view autoscroll="true"></div>
                </busy>
            </div>
            <footer class="row">
                <div class="col-md-6">
                    <div>Orca<span class="text-danger">&nbsp;|&nbsp;</span><span class="version">version 1.5.2</span></div>
                    <div>{{clientInfo.clnt_name}}<span class="text-danger">&nbsp;|&nbsp;</span><a href="mailto:{{clientInfo.clnt_mailto}}" class="contact-us">contacter un administrateur</a></div>
                </div>
                <div class="col-md-6 text-right">
                    <div>&copy; 2014-{{today | date: 'yyyy'}}<span class="text-danger">&nbsp;|&nbsp;</span><span class="version">NCLS&nbsp;Development</span></div>
                    <div><a href="mailto:nclsdevelopment+7bdrdto7kxjb4wvldjey@boards.trello.com" class="contact-us">Sugg&eacute;rer une am&eacute;lioration</a></div>
                </div>
            </footer>
        </div>
        <link rel="stylesheet" type="text/css" href="main.css" />
    </body>

</html>
