<!DOCTYPE html>
<html lang="fr" ng-app="faomaintenanceApp">

    <head>
        <meta charset="utf-8">
        <script type="text/javascript" src="bundle.js"></script>
        <link rel="stylesheet" type="text/css" href="main.css" />
        <title>Gestion des Formations Sécurité</title>
        <link rel="shortcut icon" href="./img/favicon.ico" />
        <!-- support for effing old browsers like the client has -->
        <script src="https://www.promisejs.org/polyfills/promise-6.1.0.min.js"></script>
    </head>

    <body ng-controller="IndexCtrl">
        <div class="alerts-container">
            <uib-alert class="alert" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"><span ng-bind-html="alert.msg" /></alert>
        </div>
        <div class="container">
            <header>
                <div class="row top-panel" id="top-panel">
                    <div class="col-md-4 col-md-offset-4 col-sm-6">
                        <a href="#/home" class="logo"><img src="./img/logo.png" alt="Pole emploi" /></a>
                    </div>
                    <div class="col-md-4 col-sm-6 connection-status">
                        <div if-role="user">Connect&eacute;(e) en tant que <span class="text-primary">{{userInfo.empl_firstname}} {{userInfo.empl_surname}}</span>
                            <br />
                            <button type="button" class="btn btn-danger btn-sm" ng-click="disconnect()">Se d&eacute;connecter</button>
                        </div>
                    </div>
                </div>
                <div class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#/home">Formations S&eacute;curit&eacute;</a>
                        </div>
                        <div class="navbar-collapse collapse navbar-responsive-collapse">
                            <ul class="nav navbar-nav">
                                <li ng-class="{ active: isActive('/sites')}" if-role="user"><a href="#/sites">Sites</a></li>
                                <li ng-class="{ active: isActive('/employees')}" if-role="user"><a href="#/employees">Agents</a></li>
                                <li ng-class="{ active: isActive('/trainings')}" if-role="user"><a href="#/trainings" if-role="!trainer">Formations</a></li>
                                <li class="dropdown" ng-class="{ active: isActive('/trainings')}" if-role="trainer">
                                    <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Formations<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#/trainings">Consulter formations</a></li>
                                        <li><a href="#/trainings/create">Cr&eacute;er formation</a></li>
                                        <li><a href="#/trainings/stats">Dresser statistiques</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <form class="navbar-form navbar-left" ng-show="currentUser.info">
                                <div class="form-group uib-typeahead">
                                    <input type="text" class="form-control col-md-8" placeholder="Recherche globale..." uib-typeahead="select as select.summary for select in globalIndex | filterGlobal:$viewValue | limitTo:8" ng-model="select" ng-focus="refreshIndex()" />
                                </div>
                            </form>
                            <ul class="nav navbar-nav navbar-right">
                                <li ng-class="{ active: isActive('/account')}" if-role="user"><a href="#/account">Mon compte</a></li>
                                <li class="dropdown" ng-class="{ active: isActive('/administration')}" if-role="admin">
                                    <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Administration<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#/administration/users">Administration utilisateurs</a></li>
                                        <li><a href="#/administration/sites">Gestion des sites</a></li>
                                        <li><a href="#/administration/update">Mise &agrave; jour</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <div class="content">
                <busy>
                    <div ng-view autoscroll="true"></div>
                </busy>
            </div>
            <footer>
                <br />
                <p>&copy; 2014-{{today | date: 'yyyy'}} NCLS&nbsp;Development<span class="text-danger">&nbsp;|&nbsp;</span><a href="mailto:nclsdevelopment@gmail.com?subject=Enquiry about {{title}} at {{whereami}}" class="contact-us">nous contacter</a></p>
            </footer>
        </div>
    </body>

</html>
