@import url('http://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$brand-primary: #337ab7 !default;
$brand-warning:	#ff9800 !default;
$brand-danger:	#e51c23 !default;

//@import 'bower_components/bootstrap/dist/css/bootstrap';
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');
@import 'bower_components/bootstrap-material-design/sass/bootstrap-material-design';
@import 'bower_components/bootstrap-material-design/sass/ripples';

@import 'node_modules/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min';

@import 'node_modules/ng-dialog/css/ngDialog-theme-default.min';
@import 'node_modules/ng-dialog/css/ngDialog.min';

@import 'index/index';

body {
	color: #777;
	font-weight: 400;
}

h3.pull-left {
  margin-bottom: 30px;
}

.clear {
  clear: both;
}

.side-panel-container {
  position: fixed;
  right: 0px;
  top: 100px;
  z-index: 1002;
  width: 250px;
  pointer-events: none;
}
.side-panel-item {
  position: relative;
  transition: all 200ms;
  right: -217px;
  width: 100%;
  z-index: 1003;
  pointer-events: all;
}
.side-panel-item:hover {
  right: 0px;
  //box-shadow: black 0px 0px 5px 0px;
  //box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
  z-index: 1004;
}

button.side-panel-item {
  text-align: left;
  padding-left: 10px;
  margin: 0;
}

button.side-panel-item .glyphicon {
  margin-right: 5px;
}


.shrinkable {
  max-width: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
	padding: 0;

	.panel {
		border-radius: 4px;
	}
}

.label {
	border-radius: 2px;
}

.clickme {
  cursor: pointer;
}

.form-group {
	margin: 0;

	label.control-label {
		font-size: 14px;
	}
}

table {
	.btn {
		margin: 0;
	}
}

.vtop {
  vertical-align: top!important;
}

.btn .active {
	background: black;
}

.panel-heading {
	.btn-group {
		margin: 0;
	}
}

.input-group {
	.input-group-btn {
		padding: 0;
	}
}

.pagination {
	margin: 0;

	li {
		cursor: pointer;
	}
}

th {
	.form-group {
		padding: 0;
	}

	.form-group input.form-control {
		margin: 0;
	}
}

table thead .st-sort {
	cursor: pointer;
}

table thead .st-sort:before {
    font-family: 'Glyphicons Halflings';
    opacity: 0.25;
    content: "\e150";
    padding-right: 5px;
    position: relative;
    font-size: 18px;
    top: 3px;
}
table thead .st-sort-descent:before {
    font-family: 'Glyphicons Halflings';
    opacity: 0.5;
    content: "\e156";
    padding-right: 5px;
    position: relative;
    font-size: 18px;
    top: 4px;
}
table thead .st-sort-ascent:before {
    font-family: 'Glyphicons Halflings';
    opacity: 0.5;
    content: "\e155";
    padding-right: 5px;
    position: relative;
    font-size: 18px;
    top: 4px;
}