@import url('//fonts.googleapis.com/css?family=Roboto:300,400,500,700');
$brand-primary: #337ab7 !default;
$brand-success: #4caf50 !default;
$brand-danger: #e51c23 !default;
$brand-warning: #ff9800 !default;
$brand-info: $brand-primary !default;
$screen-xs: 768px;
// Bootstrap's CDN also includes relevant Glyphicons
@import url('//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');
@import 'bower_components/bootstrap-material-design/sass/bootstrap-material-design';
@import 'bower_components/bootstrap-material-design/sass/ripples';
//@import 'bower_components/ng-table/dist/ng-table.min';
@import 'node_modules/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min';
@import 'node_modules/ccjmne-busy/styles/ccjmne-busy';
@import 'node_modules/ng-dialog/css/ngDialog-theme-default.min';
@import 'node_modules/ng-dialog/css/ngDialog.min';
@import 'styles/forms';
@import 'styles/panels';
@import 'styles/side_panel';
@import 'styles/tables';
@import 'styles/togglebuttons';
@import 'styles/ui_sortable';
@import 'components/dialogs/ngdialog-theme-gfs';
@import 'components/home/home';
@import 'components/index/index';
@import 'components/sites/sites_stats_svg';
@import 'components/trainings/trainings_stats';
@media (min-width: $screen-xs) {
    .form-group:not(.label-floating) label.control-label {
        padding-top: 8px;
    }
}

.text-muted {
    color: #BDBDBD;
}

// fix uib-collapse unsettling assymetric easing function
.collapsing[uib-collapse] {
    transition: all .35s ease !important;
}

label.label + label.label {
    margin-left: 2px;
}

hr + hr {
    display: none;
}

.popover {
    max-width: 350px;
    //white-space: nowrap;
}

.progress {
    &.progress-large {
        height: 20px;
    }
    border-radius: 3px;
    margin: 20px 0 0 0;
    transition: height .2s ease;
}

.bootstrap-switch-danger {
    background-color: $brand-danger !important;
}

.bswitch-label {
    padding-top: 2px !important;
}

@media (min-resolution: 192dpi) {
    .container {
        width: 100%;
        padding: 0;
    }
}

li.divider {
    background-color: #eee !important;
}

hr {
    margin: 10px 0;
}

textarea.vresize {
    resize: vertical;
}

.preserve-whitespace {
    white-space: pre-wrap;
}

.pill {
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #D2D2D2;
    padding: 5px 8px;
    &.pill-label {
        margin-top: 8px;
    }
    & + & {
        margin-top: 8px;
    }
    &:hover {
        background-color: #eee;
        color: $brand-danger;
        border: 1px solid $brand-danger;
    }
    .pill-delete {
        float: right;
    }
    &:not(:hover) .pill-delete {
        visibility: hidden;
    }
}

ul.breadcrumb {
    margin-bottom: 0;
    > li + li:before {
        padding: 0 5px 0 13px;
    }
}

a[disabled],
a[disabled]:hover {
    text-decoration: none;
    cursor: not-allowed;
    color: #777;
}

ul {
    margin: 0;
}

.clear {
    clear: both;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.no-lpadding {
    padding-left: 0;
}

.no-rpadding {
    padding-right: 0;
}

.no-events {
    pointer-events: none;
}

.shrinkable {
    max-width: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.label {
    border-radius: 2px;
}

.clickme {
    cursor: pointer;
}

.uib-datepicker {
    .text-info {
        color: rgba(0, 0, 0, 0.87);
    }
    button[disabled] .text-info {
        color: rgba(0, 0, 0, 0.26);
    }
}

.uib-datepicker .btn,
.uib-datepicker-popup .btn {
    margin: 0;
    padding: 5px 10px;
    background: transparent;
}
