<div st-persist="employees" st-table="shown" st-safe-src="employees">
	<form class="form-horizontal">
		<div class="form-group">
			<label for="pageSize" class="control-label col-md-2">Agents par page</label>
			<div class="col-md-2">
				<select class="form-control" id="pageSize" ng-model="pageSize" ng-init="pageSize = 25" ng-options="size for size in [5, 10, 25, 100]"></select>
			</div>
		</div>
	</form>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="row">
				<div class="col-md-2">Agents</div>
				<div class="col-md-10 text-right">
					<state-sustain items="certificates" items-id="cert_short" state="checked" state-id="certificates_checked">
						<div class="btn-group">
						    <label class="btn btn-raised btn-default btn-sm" ng-model="cert.checked" uib-btn-checkbox ng-repeat="cert in certificates" tooltip="{{cert.cert_name}}">{{cert.cert_short}}</label>
						</div>
					</state-sustain>
				</div>
			</div>
		</div>
		<table class="table table table-striped table-hover">
			<thead>
				<tr>
					<th></th>
					<th width="10%">
						<div class="st-sort" st-sort="empl_pk">Matricule</div>
						<input st-search="empl_pk" placeholder="Rechercher..." class="form-control" type="text"/>
					</th>
					<th class="shrinkable" width="20%">
						<div class="st-sort" st-sort="empl_surname" st-skip-natural="true">Nom</div>
						<input st-search="empl_surname" placeholder="Rechercher..." class="form-control" type="text"/>
					</th>
					<th class="shrinkable" width="20%">
						<div class="st-sort" st-sort="empl_firstname" st-skip-natural="true">Pr&eacute;nom</div>
						<input st-search="empl_firstname" placeholder="Rechercher..." class="form-control" type="text"/>
					</th>
					<th class="shrinkable" width="40%">
						<div class="st-sort" st-sort="site.site_name" st-skip-natural="true">Site</div>
						<input st-search="site.site_name" placeholder="Rechercher..." class="form-control" type="text"/>
					</th>
					<!-- <th class="shrinkable vtop" width="20%">
						<div class="st-sort" st-sort="empl_dob" st-skip-natural="true">Naissance</div>
					</th> -->
					<th class="vtop">
						<div class="st-sort" st-sort="empl_permanent" st-skip-natural="true">Statut</div>
					</th>
					<th class="last vtop" ng-repeat="cert in certificates | filter: {'checked': true}">
						<div class="st-sort" st-sort="stats.certificates[{{cert.cert_pk}}].expiryDate" st-skip-natural="true">{{cert.cert_short}}</div>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="empl in shown track by empl.empl_pk" class="clickme" ng-click="(siteHover)?selectSite(empl.site.site_pk):select(empl.empl_pk)" ng-mouseenter="hover=true" ng-mouseleave="hover = false">
					<td><button type="button" class="btn btn-xs" ng-class="{'btn-primary': hover && !siteHover}">VOIR</button></td>
					<td>{{empl.empl_pk}}</td>
					<td class="shrinkable" ng-class="{'text-primary': hover && !siteHover}">{{empl.empl_surname}}&nbsp;</td>
					<td class="shrinkable" ng-class="{'text-primary': hover && !siteHover}">{{empl.empl_firstname}}&nbsp;</td>
					<td class="shrinkable" ng-mouseenter="siteHover=true" ng-mouseleave="siteHover=false"><button type="button" class="btn btn-xs" ng-class="{'btn-primary': siteHover}">VOIR</button>&nbsp;&nbsp;<span ng-class="{'text-primary': siteHover}">{{empl.site.site_name}}</span></td>
					<!-- <td>{{empl.empl_dob | date: 'shortDate'}}</td> -->
					<td class="text-center"><span class="label" ng-class="{'label-warning': !empl.empl_permanent, 'label-success': empl.empl_permanent}">{{empl.empl_permanent ? 'CDI' : 'CDD'}}</span></td>
					<td ng-repeat="cert in certificates | filter: {'checked': true}" ng-init="certStats = empl.stats.certificates[cert.cert_pk]" class="text-center">
						<span class="label" ng-class="'label-' + certStats.validityStatus">{{certStats.expiryDate | date: 'MMM yyyy'}}</span>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="panel-footer text-center">
			<td colspan="5" class="text-center">
				<div st-pagination="" st-items-by-page="pageSize" st-displayed-pages="7"></div>
			</td>
		</div>
	</div>
</div>