<h3>Agents - recherche avanc&eacute;e</h3>
<br />
<div class="row">
    <div class="col-lg-6">
        <div class="col-md-8 col-md-offset-2 col-lg-12 col-lg-offset-0">
            <div class="panel panel-primary">
                <div class="panel-heading">Param&egrave;tres de recherche</div>
                <div class="panel-body form form-horizontal" autocomplete="off">
                    <div class="form-group">
                        <label for="site" class="col-xs-4 control-label">Affectation</label>
                        <div class="col-xs-8">
                            <input id="site" type="text" class="form-control" ng-model="site" uib-typeahead="site as site.site_name for site in sites | filterSite:$viewValue | limitTo:8"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="employees" class="col-xs-4 control-label checkbox-label">CDI uniquement</label>
                        <div class="col-xs-8 checkbox">
                            <label>
                                <input id="permanent" type="checkbox" ng-model="filter.perm" />
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2 col-lg-12 col-lg-offset-0">
            <div class="panel panel-primary">
                <div class="panel-heading">Param&egrave;tres d'affichage</div>
                <div class="panel-body form form-horizontal" autocomplete="off">
                    <div class="form-group">
                        <label for="surname" class="col-xs-4 control-label checkbox-label">Nom</label>
                        <div class="col-xs-8 checkbox">
                            <label>
                                <input id="surname" type="checkbox" disabled checked />
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstname" class="col-xs-4 control-label checkbox-label">Pr&eacute;nom</label>
                        <div class="col-xs-8 checkbox">
                            <label>
                                <input id="firstname" type="checkbox" disabled checked />
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="site" class="col-xs-4 control-label checkbox-label">Affectation</label>
                        <div class="col-xs-8 checkbox">
                            <label>
                                <input id="site" type="checkbox" ng-model="display.site" />
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="status" class="col-xs-4 control-label checkbox-label">Statut (CDI/CDD)</label>
                        <div class="col-xs-8 checkbox">
                            <label>
                                <input id="status" type="checkbox" ng-model="display.status" />
                            </label>
                        </div>
                    </div>
                    <hr />
                    <state-sustain items="certificates" items-id="cert_short" state="checked" state-id="certificates_checked">
                        <div class="form-group" ng-repeat="cert in certificates">
                            <label for="permanent" class="col-xs-4 control-label checkbox-label">Aptitude {{cert.cert_short}}</label>
                            <div class="col-xs-3 checkbox">
                                <label>
                                    <input id="permanent" type="checkbox" ng-model="display[cert.cert_pk].st" />
                                    <span class="checkbox-label">Statut</span>
                                </label>
                            </div>
                            <div class="col-xs-5 checkbox">
                                <label>
                                    <input id="permanent" type="checkbox" ng-model="display[cert.cert_pk].exp" />
                                    <span class="checkbox-label">Date d'expiration</span>
                                </label>
                            </div>
                        </div>
                    </state-sustain>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <form class="form-horizontal" autocomplete="off">
            <div class="col-md-8 col-md-offset-2 col-lg-12 col-lg-offset-0" ng-repeat="cert in certificates">
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="label label-primary">{{cert.cert_short}}</span> - {{cert.cert_name}}</div>
                    <div class="panel-body" ng-show="cert.conditions && cert.conditions.length > 0">
                        <div class="form-group" ng-repeat="condition in cert.conditions">
                            <label class="col-xs-4 control-label" style="padding-top: 2px">{{$first ? '&Agrave; condition que' : 'et que'}}</label>
                            <div class="col-xs-8">
                                <div class="pill clickme" ng-click="cert.conditions.splice(cert.conditions.indexOf(condition), 1)">
                                    {{condition.display}}<span class="pill-delete">&times;</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-center no-padding">
                        <button type="button" class="btn btn-primary no-margin" ng-click="addCondition(cert)">{{newCondition ? 'R&eacute;duire panneau' : 'Ajouter condition'}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="side-panel-container text-right">
    <button type="button" class="btn btn-raised btn-success side-panel-item" ng-click="search()"><span class="glyphicon glyphicon-search"></span>&nbsp;Lancer la recherche</button>
</div>
