<h3>Liste des <span class="text-primary">agents</span></h3>
<br />
<div class="panel panel-primary">
    <div class="panel-heading panel-heading-togglebutton">
        <div class="row">
            <div class="col-xs-4 checkbox">
                <span class="togglebutton">
                    <label>
                        <input type="checkbox" ng-model="advancedSearch" ng-disabled="conditions.length > 0" />Recherche avanc&eacute;e
                    </label>
                </span>
            </div>
            <div class="col-xs-8 text-right panel-heading-buttons">
                <state-sustain items="certificates" items-id="cert_short" state="checked" state-id="certificates_checked">
                    <div class="btn-group">
                        <label class="btn btn-raised btn-default btn-sm" ng-model="cert.checked" uib-btn-checkbox ng-repeat="cert in certificates | orderBy: 'cert_order'" tooltip="{{cert.cert_name}}">{{cert.cert_short}}</label>
                    </div>
                </state-sustain>
            </div>
        </div>
    </div>
    <div style="border-bottom: 1px solid #ddd;" uib-collapse="!advancedSearch">
        <form class="panel-body form-horizontal" autocomplete="off">
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-4 control-label">Ajouter filtre</label>
                    <div class="col-xs-8 col-lg-6 input-group">
                        <div class="input-group-addon">Selon aptitude</div>
                        <select class="form-control" ng-model="cert" ng-options="cert as cert.cert_short + ' - ' + cert.cert_name for cert in certificates | orderBy: 'cert_order'">
                            <option value=""></option>
                        </select>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" ng-disabled="!cert" ng-click="addCondition(cert)">D&eacute;finir</button>
                        </span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group" ng-repeat="condition in conditions">
                <div class="row">
                    <div class="col-xs-4 text-right" style="padding-top: 8px">{{$first ? 'Ne garder que ceux dont' : 'et dont'}}</div>
                    <div class="col-xs-8 col-lg-6">
                        <div class="pill clickme" ng-click="conditions.splice(conditions.indexOf(condition), 1)">
                            {{condition.display}}<span class="pill-delete">&times;</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-repeat="(key, value) in tp.filter()" ng-if="value !== ''">
                <div class="row">
                    <div class="col-xs-4 text-right">{{$first && conditions.length === 0 ? 'Ne garder que ceux dont' : 'et dont'}} <strong ng-bind-html="colFor(key).title | lowercase"></strong></div>
                    <div class="col-xs-8">contient <span class="text-primary">{{value}}</span></div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-xs-4 text-right">Total</div>
                <div class="col-xs-8">
                    <span class="text-primary">{{tp.total()}}</span> agents trouv&eacute;s
                </div>
            </div>
        </form>
    </div>
    <table class="table table-striped table-hover" ng-table-dynamic="tp with cols" show-filter="true">
        <tr ng-repeat="empl in $data track by empl.empl_pk" hover-state="hover">
            <td ng-repeat="col in $columns" ng-switch="col.id" class="clickme text-{{col.align || 'left'}}" ng-class="{shrinkable: col.shrinkable}" ng-click="siteHover ? selectSite(empl.siem_site_fk) : select(empl.empl_pk)"
                hover-state="$parent.$parent.siteHover" hover-state-if="col.siteHover" width="{{col.width}}">
                <span ng-switch-when="empl_gender" ng-class="{'text-primary': hover && !siteHover}">{{empl.empl_gender ? 'M.' : 'Mme'}}</span>
                <span ng-switch-when="empl_firstname" ng-class="{'text-primary': hover && !siteHover}">{{::$eval(col.id, empl)}}</span>
                <span ng-switch-when="empl_surname" ng-class="{'text-primary': hover && !siteHover}">{{::$eval(col.id, empl)}}</span>
                <span ng-switch-when="site.site_name" ng-class="{'text-primary': siteHover}">{{::$eval(col.id, empl)}}</span>
                <span ng-switch-when="empl_permanent">
                    <label class="label label-{{empl.empl_permanent ? 'success' : 'warning'}}">{{empl.empl_permanent ? 'CDI' : 'CDD'}}</label>
                </span>
                <span ng-switch-when="cert" ng-init="certStats=empl.stats.certificates[col.cert_pk]">
                    <label class="label label-{{certStats.validityStatus}}">{{::certStats.expiryDate | date: 'MMM yyyy'}}</label>
                </span>
                <span ng-switch-when="button">
                    <button type="button" class="btn btn-{{col.clazz}} btn-xs" ng-disabled="!({{col.on}})">Voir</button>
                </span>
                <span ng-switch-default>{{::$eval(col.field, empl)}}</span>
            </td>
        </tr>
    </table>
</div>
