<h3>{{empl.empl_gender ? 'M.' : 'Mme'}} {{empl.empl_surname + ' ' + empl.empl_firstname}}<small> - {{empl.empl_pk}}</small></h3>
<br />
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading panel-heading-buttonsgroup">
                <div class="row">
                    <div class="col-sm-4 col-xs-12 panel-heading-title">Tableau de bord</div>
                    <div class="col-sm-8 col-xs-12 text-right">
                        <state-sustain items="certificates" items-id="cert_short" state="checked" state-id="certificates_checked">
                            <div class="btn-group">
                                <label class="btn btn-raised btn-default btn-sm" ng-model="cert.checked" uib-btn-checkbox ng-repeat="cert in certificates | orderBy: 'cert_order'" tooltip="{{cert.cert_name}}">{{cert.cert_short}}</label>
                            </div>
                        </state-sustain>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4 text-right">Type de contrat</div>
                    <div class="col-xs-8">
                        <span ng-if="empl.empl_permanent" class="label label-success">CDI</span><span ng-if="!empl.empl_permanent" class="label label-warning">CDD</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 text-right">Affectation</div>
                    <div class="col-xs-8">
                        <a href="#/sites/{{site.site_pk}}">{{site.site_name}}</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 text-right">Date de naissance</div>
                    <div class="col-xs-8"> {{empl.empl_dob | date: 'fullDate'}} </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 text-right">Adresse e-mail</div>
                    <div class="col-xs-8">
                        <a href="mailto:{{empl.empl_addr}}" ng-if="empl.empl_addr">{{empl.empl_addr}}</a><span ng-if="!empl.empl_addr" class="text-muted">non renseign&eacute;e</span>
                    </div>
                </div>
                <hr ng-if="empl.empl_notes || certificatesVoiding.length > 0" />
                <div class="row" ng-repeat="voiding in certificatesVoiding">
                    <div class="col-xs-4 text-right">Dispositif {{voiding.cert.cert_short}}</div>
                    <div class="col-xs-8 text-danger">Sorti(e) du dispositif {{voiding.cert.cert_short}} depuis le {{voiding.date | date: 'fullDate'}}</div>
                </div>
                <div class="row" ng-if="empl.empl_notes">
                    <div class="col-xs-4 text-right">Notes</div>
                    <div class="col-xs-8 preserve-whitespace text-muted">{{empl.empl_notes}}</div>
                </div>
            </div>
            <table class="table table-hover" ng-show="(checkedCertificates = (certificates | orderBy: 'cert_order' | filter: {'checked': true})).length > 0">
                <thead>
                    <tr>
                        <th width="1%"></th>
                        <th width="40%">Aptitude</th>
                        <th width="30%" class="shrinkable">Valide jusqu'au</th>
                        <th width="1%" class="text-right">Renouvellement&nbsp;&agrave;&nbsp;pr&eacute;voir</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cert in checkedCertificates" ng-class="'text-' + certStats.validityStatus" ng-init="certStats = empl.stats.certificates[cert.cert_pk]">
                        <td class="text-right"><span class="label" ng-class="'label-' + certStats.validityStatus">{{cert.cert_short}}</span></td>
                        <td class="shrinkable">{{cert.cert_name}}</td>
                        <td class="shrinkable">{{certStats.expiryDate | date: 'fullDate'}}</td>
                        <td class="text-right">{{certStats.expiryDate | fromNow}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="panel panel-primary" ng-show="trainings.length">
    <div class="panel-heading">Formations de l'agent</div>
    <table class="table table-striped table-hover" ng-table-dynamic="tp with cols">
        <tr ng-repeat="trng in $data track by trng.trng_pk" hover-state="hover" ng-click="selectTraining(trng.trng_pk)">
            <td ng-repeat="col in $columns" ng-switch="col.id" class="clickme text-{{col.align || 'left'}}" ng-class="{shrinkable: col.shrinkable}" width="{{col.width}}" ng-init="textClass=trng.trem_outcome === 'VALIDATED' ? 'success' : trng.trem_outcome === 'FLUNKED' ? 'danger' : 'primary'">
                <span ng-switch-when="type" ng-class="{'text-{{textClass}}': hover}">{{::$eval(col.field, trng)}}</span>
                <span ng-switch-when="dates" ng-class="{'text-{{textClass}}': hover}">{{::$eval(col.field, trng)}}</span>
                <span ng-switch-when="certs"><label ng-repeat="cert in trng.type.certificates" class="label label-{{textClass !== 'primary' ? textClass : 'default'}}">{{cert.cert_short}}</label></span>
                <div ng-switch-when="trem_outcome" ng-switch="trng.trem_outcome">
                    <span ng-switch-when="VALIDATED" class="text-success">Valid&eacute;(e)</span>
                    <span ng-switch-when="FLUNKED" class="text-danger">Non&nbsp;valid&eacute;(e)</span>
                    <span ng-switch-default class="text-muted">En&nbsp;attente</span>
                </div>
                <span ng-switch-when="button">
                    <button type="button" class="btn btn-{{textClass}} btn-xs" ng-disabled="!({{col.on}})">Voir</button>
                </span>
                <span ng-switch-default>{{::$eval(col.field, trng)}}</span>
            </td>
        </tr>
    </table>
</div>

<div class="side-panel-container text-right">
    <button type="button" class="btn btn-raised btn-success side-panel-item" ng-click="editNotes()" if-role="'trainer'"><span class="glyphicon glyphicon-pencil"></span>&nbsp;{{empl.empl_notes ? 'Modifier' : 'Prendre'}} notes</button>
    <button type="button" class="btn btn-raised btn-primary side-panel-item" ng-click="editRoles()" if-role="'admin'"><span class="glyphicon glyphicon-wrench"></span>&nbsp;D&eacute;finir privil&egrave;ges</button>
    <button type="button" class="btn btn-raised btn-warning side-panel-item" ng-click="resetPassword()" ng-show="canResetPassword" if-role="'admin'"><span class="glyphicon glyphicon-repeat"></span>&nbsp;R&eacute;initialiser mot de passe</button>
    <button type="button" class="btn btn-raised btn-danger side-panel-item" ng-click="addVoiding()" if-role="'trainer'"><span class="glyphicon glyphicon-lock"></span>&nbsp;Exclusion des dispositifs</button>
</div>
