<div class="jumbotron">
    <div class="text-center">
        <img id="orca_logo" src="../img/logo_complete_blue_small.png">
        <h3>Gestion des formations s&eacute;curit&eacute;</h3>
    </div>
    <div class="text-justify">
        <hr />
        <p>Selon le <a href="https://www.legifrance.gouv.fr/affichCode.do?cidTexte=LEGITEXT000006072050">Code du travail</a>, l'employeur est tenu &agrave; une obligation de sant&eacute;
            et s&eacute;curit&eacute; &agrave; l'&eacute;gard de ses salari&eacute;s.
            <small>Ce document l&eacute;gal pr&eacute;voit ainsi de nombreuses formations en mati&egrave;re de pr&eacute;vention des risques professionnels, parmi lesquelles&nbsp;:</small>
        </p>
        <uib-accordion>
            <uib-accordion-group heading="Obligation de formation &agrave; la s&eacute;curit&eacute; incendie">
                <blockquote>
                    <p>L'employeur prend les mesures n&eacute;cessaires pour que tout commencement d'incendie puisse être rapidement et efficacement combattu dans l'int&eacute;rêt du sauvetage
                        des travailleurs.</p>
                    <small class="pull-right">extrait de l'<cite>article <a href="https://www.legifrance.gouv.fr/affichCodeArticle.do?cidTexte=LEGITEXT000006072050&idArticle=LEGIARTI000018489131&dateTexte&categorieLien=cid">R4227-28</a> du Code du travail</cite></small>
                </blockquote>
                <p>
                    <small>De plus, le <em>r&eacute;f&eacute;rentiel <abbr title="Assembl&eacute;e Pl&eacute;ni&egrave;re des Soci&eacute;t&eacute;s d'Assurances Dommage" class="initialism">APSAD</abbr></em> stipule que&nbsp;:</small>
                </p>
                <blockquote>
                    <p><span class="comment">...</span> l'effectif doit être d'au moins un employ&eacute; <span class="comment">form&eacute; &agrave; la s&eacute;curit&eacute; incendie</span>                        sur dix par secteur.</p>
                    <small class="pull-right">extrait de l'<cite><abbr title="Assembl&eacute;e Pl&eacute;ni&egrave;re des Soci&eacute;t&eacute;s d'Assurances Dommage" class="initialism">APSAD</abbr> R&egrave;gle R6&nbsp;-&nbsp;Chapitre 4</cite></small>
                </blockquote>
            </uib-accordion-group>
            <uib-accordion-group heading="Obligation de formation &agrave; l'&eacute;vacuation">
                <blockquote>
                    <p>Les exercices <span class="comment">d'&eacute;vacuation</span> et essais p&eacute;riodiques ont lieu au moins tous les six mois.</p>
                    <small class="pull-right">extrait de l'<cite>article <a href="https://www.legifrance.gouv.fr/affichCodeArticle.do?idArticle=LEGIARTI000018532055&cidTexte=LEGITEXT000006072050&dateTexte=20081208">R4227-39</a> du Code du travail</cite></small>
                </blockquote>
            </uib-accordion-group>
            <uib-accordion-group heading="Obligation de formation aux premiers secours">
                <blockquote>
                    <p>
                        L'employeur prend les mesures n&eacute;cessaires pour assurer la s&eacute;curit&eacute; et prot&eacute;ger la sant&eacute; physique et mentale des travailleurs. Ces mesures comprennent&nbsp;:
                    </p>
                    <ol>
                        <li>Des actions de pr&eacute;vention des risques professionnels&nbsp;;</li>
                        <li>Des actions d'information et de formation&nbsp;;</li>
                        <li>La mise en place d'une organisation et de moyens adapt&eacute;s.</li>
                    </ol>
                    <small class="pull-right">extrait de l'<cite>article <a href="https://www.legifrance.gouv.fr/affichCode.do?idSectionTA=LEGISCTA000006178066&cidTexte=LEGITEXT000006072050&dateTexte=20090528">L4121-1</a> du Code du travail</cite></small>
                </blockquote>
                <p><small>Est ainsi p&eacute;vue, pour le personnel&nbsp;:</small></p>
                <blockquote>
                    <p><span class="comment">...</span> la formation de secouriste n&eacute;cessaire pour donner les premiers secours en cas d'urgence</p>
                    <small class="pull-right">extrait de l'<cite>article <a href="https://www.legifrance.gouv.fr/affichCodeArticle.do?cidTexte=LEGITEXT000006072050&idArticle=LEGIARTI000018489006&dateTexte=&categorieLien=cid">R4224-15</a> du Code du travail</cite></small>
                </blockquote>
            </uib-accordion-group>
            <uib-accordion-group heading="Obligation de formation &agrave; la pr&eacute;vention des risques li&eacute;s &agrave; certaines activit&eacute;s">
                <blockquote>
                    <p>L'employeur fait b&eacute;n&eacute;ficier les travailleurs dont l'activit&eacute; comporte des op&eacute;rations de manutentions manuelles
                        <span class="comment">...</span> d'une formation ad&eacute;quate &agrave; la s&eacute;curit&eacute; relative &agrave; l'ex&eacute;cution de ces op&eacute;rations.</p>
                    <small class="pull-right">extrait de l'<cite class="asdf">article <a href="https://www.legifrance.gouv.fr/affichCodeArticle.do?idArticle=LEGIARTI000018528891&cidTexte=LEGITEXT000006072050">R4541-8</a> du Code du travail</cite></small>
                </blockquote>
            </uib-accordion-group>
            <uib-accordion-group heading="Recommandation d'initiation &agrave; l'utilisation des d&eacute;fibrillateurs automatis&eacute;s externes">
                <blockquote>
                    <p>L'utilisation d'un d&eacute;fibrillateur automatis&eacute; externe par des personnes non m&eacute;decins en cas d'arr&ecirc;t cardiaque repose sur des gestes simples
                        pour lesquels une initiation courte et pratique est de nature &agrave; augmenter le taux de survie des victimes.</p>
                    <small class="pull-right">extrait de l'<cite><a href="https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000021276855&categorieLien=id">arr&ecirc;t&eacute; du 6 novembre 2009</a></cite></small>
                </blockquote>
            </uib-accordion-group>
        </uib-accordion>
        <p>
            <small>D&eacute;velopp&eacute;e afin de r&eacute;pondre aux</small> obligations l&eacute;gales impos&eacute;es par le <a href="https://www.legifrance.gouv.fr/affichCode.do?cidTexte=LEGITEXT000006072050">Code du travail</a>
            <small>ainsi qu'aux</small> recommandations compl&eacute;mentaires de l'<a href="http://www.inrs.fr">INRS</a>,
            <small>la solution </small>Orca<small> permet principalement d'assurer, pour une multitude de sites et d'employ&eacute;s, </small>le suivi des formations, sensibilisations
            et certifications pertinentes dans le cadre de la s&eacute;curit&eacute; au travail.
        </p>
        <p>
            Orca<small> assiste &eacute;galement les </small>formateurs et administrateurs dans leurs t&acirc;ches quotidiennes
            <small> avec l'&eacute;dition de fiches d'&eacute;margement et tableaux de bord ainsi qu'avec le rappel des formations &agrave; renouveler.</small>
            <br /><small>Enfin, cet outil propose davantage d’outils afin d'adresser</small> d’autres probl&egrave;mes li&eacute;s &agrave; la gestion des objectifs en termes de s&eacute;curit&eacute;
            au travail.
        </p>
    </div>
    <p ng-if="!loggedIn">
        <button type="button" ng-click="login()" class="btn btn-raised btn-primary btn-lg">D&eacute;marrer</button>
    </p>
</div>
