<div class="jumbotron">
    <h1>Gestion des formations s&eacute;curit&eacute;</h1>
    <div class="text-justify">
        <br />
        <p>Selon le <a href="https://www.legifrance.gouv.fr/affichCode.do?cidTexte=LEGITEXT000006072050">Code du travail</a>, l'employeur est tenu &agrave; une obligation g&eacute;n&eacute;rale de s&eacute;curit&eacute; &agrave; l'&eacute;gard de ses salari&eacute;s.
            <small>Ce document l&eacute;gal pr&eacute;voit ainsi de nombreuses formations en mati&egrave;re de pr&eacute;vention des risques professionnels, parmi lesquelles&nbsp;:</small>
        </p>
        <uib-accordion>
            <uib-accordion-group heading="Obligation li&eacute;e &agrave; la formation &agrave; la s&eacute;curit&eacute; incendie">
                <p>
                    <small>L'obligation de former ses salari&eacute;s &agrave; la s&eacute;curit&eacute; incendie rel&egrave;ve de l'<em>article R4227-28</em>&nbsp;:</small>
                </p>
                <blockquote>
                    <p>L'employeur prend les mesures n&eacute;cessaires pour que tout commencement d'incendie puisse être rapidement et efficacement combattu dans l'int&eacute;rêt du sauvetage des travailleurs.</p>
                    <small class="pull-right">extrait de l'<cite>article R4227-28 du Code du travail</cite></small>
                </blockquote>
                <p>
                    <small>De plus, le <em>r&eacute;f&eacute;rentiel APSAD</em> stipule que&nbsp;:</small>
                    <blockquote>
                        <p><span class="comment">...</span> l'effectif doit être d'au moins un employ&eacute; <span class="comment">form&eacute; &agrave; la s&eacute;curit&eacute; incendie</span> sur dix par secteur.</p>
                        <small class="pull-right">extrait de l'<cite>APSAD R&egrave;gle R6&nbsp;-&nbsp;Chapitre 4</cite></small>
                    </blockquote>
                </p>
            </uib-accordion-group>
            <uib-accordion-group heading="Obligation li&eacute;e &agrave; la formation &agrave; l'&eacute;vacuation">
                <p>
                    <small>L'obligation de former ses salari&eacute;s &agrave; l'&eacute;vacuation rel&egrave;ve de l'<em>article R4227-39</em>&nbsp;:</small>
                    <blockquote>
                        <p>Les exercices <span class="comment">d'&eacute;vacuation</span> et essais p&eacute;riodiques ont lieu au moins tous les six mois.</p>
                        <small class="pull-right">extrait de l'<cite>article R4227-39 du Code du travail</cite></small>
                    </blockquote>
                </p>
            </uib-accordion-group>
            <uib-accordion-group heading="Obligation li&eacute;e &agrave; la formation aux premiers secours">
                <p>
                    <small>L'obligation de former ses salari&eacute;s aux premiers secours rel&egrave;ve des articles suivants&nbsp;:</small>
                </p>
                <ul>
                    <li>Article R4224-15 du Code du travail</li>
                    <li>Article R4224-16 du Code du travail</li>
                    <li>Article R6311-15 du Code de la sant&eacute; publique</li>
                    <li>D&eacute;cret n°&nbsp;2007-705 du 4 mai 2007</li>
                    </li>
                </ul>
                <br />
                <p>
                    <small>Il convient ainsi d'&eacute;tablir une population d'employ&eacute;s form&eacute;s au <abbr title="Pr&eacute;vention et Secours Civiques de niveau 1">PSC1</abbr> comme fix&eacute; dans le r&eacute;f&eacute;rentiel national de comp&eacute;tences de s&eacute;curit&eacute; civile relatif &agrave; cet d’enseignement par l'<a href="https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000000647247">arr&ecirc;t&eacute; du 24 Juillet 2007</a> de la <em>S&eacute;curit&eacute; Civile</em>.</small>
                </p>
            </uib-accordion-group>
            <uib-accordion-group heading="Obligation li&eacute;e &agrave; la formation &agrave; la pr&eacute;vention des risques li&eacute;s &agrave; l'activit&eacute; physique">
                <p>
                    <small>L'obligation de former ses salari&eacute;s &agrave; la pr&eacute;vention des risques rel&egrave;ve de l'<em>article R4541-8</em>&nbsp;:</small>
                    <blockquote>
                        <p>L'employeur fait b&eacute;n&eacute;ficier les travailleurs dont l'activit&eacute; comporte des op&eacute;rations de manutentions <span class="comment">...</span> d'une formation ad&eacute;quate &agrave; la s&eacute;curit&eacute; relative &agrave; l'ex&eacute;cution de ces op&eacute;rations.</p>
                        <small class="pull-right">extrait de l'<cite class="asdf">article R4541-8 du Code du travail</cite></small>
                    </blockquote>
                </p>
            </uib-accordion-group>
        </uib-accordion>
        <p>
            <small>D&eacute;velopp&eacute; afin de r&eacute;pondre aux</small> obligations l&eacute;gales impos&eacute;es par le <a href="https://www.legifrance.gouv.fr/affichCode.do?cidTexte=LEGITEXT000006072050">Code du travail</a> <small>ainsi qu'aux</small> recommandations compl&eacute;mentaires de l'<a href="http://www.inrs.fr">INRS</a>, <small>cet outil permet principalement d'assurer, pour une multitude de sites et d'employ&eacute;s, </small>le suivi des formations, sensibilisations et certifications pertinentes dans le cadre de la s&eacute;curit&eacute; au travail.
            <br />
            <br />
            <small>Cette solution assiste &eacute;galement les </small>formateurs et administrateurs dans leurs t&acirc;ches quotidiennes<small> avec l'&eacute;dition de fiches d'&eacute;margement et tableaux de bord ainsi qu'avec le rappel des formations &agrave; renouveler.</small>
            <br /><small>Enfin, elle propose davantage d’outils afin d'adresser</small> d’autres probl&egrave;mes li&eacute;s &agrave; la gestion des objectifs en terme de s&eacute;curit&eacute; au travail.
        </p>
    </div>
    <p if-role="'!user'">
        <button type="button" ng-click="login()" class="btn btn-raised btn-primary btn-lg">D&eacute;marrer</button>
    </p>
</div>
