<div class="col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading">Param&egrave;tres de recherche</div>
        <div class="panel-body form form-horizontal" autocomplete="off">
            <div class="form-group">
                <label for="site" class="col-xs-4 control-label">Affectation</label>
                <div class="col-xs-8">
                    <input id="site" type="text" class="form-control" ng-model="$parent.site" uib-typeahead="site as site.site_name for site in sites | filterSite:$viewValue | limitTo:8"></input>
                </div>
            </div>
            <div class="form-group">
                <label for="employees" class="col-xs-4 control-label checkbox-label">CDI uniquement</label>
                <div class="col-xs-8 checkbox">
                    <label>
                        <input id="permanent" type="checkbox" ng-model="filter.perm" />
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <form class="form-horizontal" autocomplete="off" ng-repeat="cert in certificates | orderBy: 'cert_order'">
        <div class="panel panel-default">
            <div class="panel-heading"><span class="label label-primary">{{cert.cert_short}}</span> - {{cert.cert_name}}</div>
            <div class="panel-body" ng-show="cert.conditions && cert.conditions.length > 0">
                <div class="form-group" ng-repeat="condition in cert.conditions">
                    <label class="col-xs-4 control-label" style="padding-top: 2px">{{$first ? '&Agrave; condition que' : 'et que'}}</label>
                    <div class="col-xs-8">
                        <div class="pill clickme" ng-click="cert.conditions.splice(cert.conditions.indexOf(condition), 1)">
                            {{condition.display}}<span class="pill-delete">&times;</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center no-padding">
                <button type="button" class="btn btn-primary no-margin" ng-click="addCondition(cert)">{{newCondition ? 'R&eacute;duire panneau' : 'Ajouter condition'}}</button>
            </div>
        </div>
    </form>
</div>
