<h3>Compte
    <span ng-if="user.user_type === 'employee'">de <span class="text-primary">{{user.empl_gender ? 'M.' : 'Mme'}} {{user.empl_surname}} {{user.empl_firstname}}</span></span>
    <span ng-if="user.user_type === 'site'">du site <span class="text-primary">{{user.site_name}}</span></span>
    <span ng-if="user.user_type === 'department'">du d&eacute;partement <span class="text-primary">{{user.dept_name}}</span></span>
    <small>- {{user.user_id}}</small>
</h3>
<br />
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-primary">
            <div class="panel-heading">Privil&egrave;ges</div>
            <div class="panel-body">
                <div ng-repeat="(type, data) in user.roles" ng-switch="type">
                    <hr ng-if="!$first" />
                    <div class="row" ng-switch-when="user">
                        <div class="col-xs-4 text-right">Gestion de compte</div>
                        <div class="col-xs-8">
                            <label class="label label-success">Activ&eacute;e</label>
                            <hr /> Permet de modifier son identifiant ainsi que son mot de passe.
                        </div>
                    </div>
                    <div class="row" ng-switch-when="access">
                        <div class="col-xs-4 text-right">Acc&egrave;s aux donn&eacute;es</div>
                        <div class="col-xs-8">
                            <label class="label label-{{colorFor(data)}}">Niveau {{data}}</label>
                            <hr />Permet la consultation&nbsp;:
                            <div ng-switch="data">
                                <ul ng-switch-when="1">
                                    <li>des fiches <strong>de son site</strong> et de ses agents.</li>
                                </ul>
                                <ul ng-switch-when="2">
                                    <li>des fiches sites et agents <strong>de son d&eacute;partement</strong>.</li>
                                </ul>
                                <ul ng-switch-when="3">
                                    <li>de <strong>toutes</strong> les fiches sites et agents.</li>
                                </ul>
                                <ul ng-switch-when="4">
                                    <li>des <strong>fiches formations</strong>, et&nbsp;:</li>
                                    <li>de <strong>toutes</strong> les fiches sites et agents.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-switch-when="trainer">
                        <div class="col-xs-4 text-right">Profil formateur</div>
                        <div class="col-xs-8">
                            <span class="text-primary">{{data.trpr_id}}</span>
                            <hr /> Permet de g&eacute;rer les formations des types suivants&nbsp;:
                            <ul>
                                <li ng-repeat="type in data.types | orderBy: 'trty_order'">{{type.trty_name}}
                                    <span class="pull-right text-right">
                                    <label class="label label-success" ng-repeat="cert in type.certificates">{{cert.cert_short}}</label>
                                </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row" ng-switch-when="admin">
                        <div class="col-xs-4 text-right">Administration</div>
                        <div class="col-xs-8">
                            <label class="label label-{{colorFor(data)}}">Niveau {{data}}</label>
                            <hr /> Permet la gestion&nbsp;:
                            <ul>
                                <li ng-show="data === 4">des <strong>comptes utilisateurs</strong> et de leurs privil&egrave;ges,</li>
                                <li ng-show="data >= 3">des <strong>aptitudes</strong> et types de formation,</li>
                                <li ng-show="data >= 2">des <strong>sites</strong> et de leur d&eacute;partements,</li>
                                <li ng-show="data >= 2">de la mise &agrave; jour des <strong>affectations</strong> des agents, ainsi que&nbsp;:</li>
                                <li ng-show="data >= 1">des <strong>notes</strong> des agents et de leur exclusion des dispositifs.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="side-panel-container text-right" ng-if="user.roles['user']">
    <button type="button" class="btn btn-raised btn-primary side-panel-item" ng-click="changeId()"><span class="glyphicon glyphicon-user"></span>&nbsp;Changer identifiant</button>
    <button type="button" class="btn btn-raised btn-warning side-panel-item" ng-click="changePassword()"><span class="glyphicon glyphicon-lock"></span>&nbsp;Modifier mot de passe</button>
</div>
