<h3 class="pull-left">{{empl.empl_firstname + ' ' + empl.empl_surname}}<small> - {{empl.empl_pk}}</small></h3>

<div class="pull-right">
	<form class="form-inline">
		<div class="form-group is-empty">
			<div class="input-group">
				<span class="input-group-addon">Consulter un autre agent</span>
				<input type="text" class="form-control"	ng-model="viewEmpl" placeholder="Rechercher..." class="form-control" uib-typeahead="viewEmpl as viewEmpl.summary for viewEmpl in employeesIndex | filterEmpl:$viewValue | limitTo:8" />
			</div>
			<button class="btn btn-primary" type="submit" ng-disabled="viewEmpl.empl_pk === undefined" ng-click="select(viewEmpl.empl_pk)">GO</button>
		</div>
	</form>
</div>

<div class="row clear">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-6">Tableau de bord</div>
					<div class="col-md-6 text-right">
						<state-sustain items="certificates" items-id="cert_short" state="checked" state-id="certificates_checked">
							<div class="btn-group">
							    <label class="btn btn-raised btn-default btn-sm" ng-model="cert.checked" uib-btn-checkbox ng-repeat="cert in certificates" tooltip="{{cert.cert_name}}">{{cert.cert_short}}</label>
							</div>
						</state-sustain>
					</div>
				</div>
			</div>
			<div class="panel-body">
				Type de contrat&nbsp;: <span ng-if="empl.empl_permanent" class="label label-success">CDI</span><span ng-if="!empl.empl_permanent" class="label label-warning">CDD</span><br />
				Date de naissance&nbsp;: <strong>{{empl.empl_dob | date: 'shortDate'}}</strong><br />
				Adresse e-mail&nbsp;: <a href="mailto:{{empl.empl_addr}}" ng-if="empl.empl_addr">{{empl.empl_addr}}</a><span ng-if="!empl.empl_addr" class="text-muted">non renseign&eacute;e</span>
			</div>
			<table class="table" ng-show="(checkedCertificates = (certificates | filter: {'checked': true})).length > 0" >
				<thead>
					<tr>
						<th>Aptitude</th>
						<th>Valide jusqu'au</th>
						<th>Renouvellement &agrave; pr&eacute;voir</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="cert in checkedCertificates" ng-class="'text-' + certStats.validityStatus" ng-init="certStats = empl.stats.certificates[cert.cert_pk]">
						<td>
							<span class="label label-default" ng-class="'label-' + certStats.validityStatus">{{cert.cert_short}}</span>&nbsp;{{cert.cert_name}}
						</td>
						<td>{{empl.stats.certificates[cert.cert_pk].expiryDate | date: 'fullDate'}}</td>
						<td>{{empl.stats.certificates[cert.cert_pk].expiryDate | fromNow}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div st-table="shown" st-safe-src="source" ng-if="source.length > 0">
	<form class="form-inline row">
		<div class="form-group col-md-4">
			<label for="pageSize">Formations par page :&nbsp;</label>
			<select class="form-control" id="pageSize" ng-model="pageSize" ng-init="pageSize = 25" ng-options="size as size for size in [5, 10, 25, 100]"></select>
		</div>
	</form>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<div class="row">
				<div class="col-md-2">Formations</div>
			</div>
		</div>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th></th>
					<th class="st-sort" width="30%" st-sort="trng_date" st-skip-natural="true" st-sort-default="reverse">Date</th>
					<th class="st-sort" width="30%" st-sort="type.trty_name" st-skip-natural="true">Type de formation</th>
					<th class="st-sort" width="30%" st-sort="trem_comment" st-skip-natural="true">Commentaire</th>
					<th class="st-sort" class="last text-right" width="15%" st-sort="trem_valid" st-skip-natural="true">R&eacute;sultat</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="trng in shown track by trng.trng_pk" class="clickme" ng-click="selectTraining(trng.trng_pk);" ng-mouseenter="hover=true" ng-mouseleave="hover = false">
					<td><button type="button" class="btn btn-xs" ng-class="{'btn-primary': hover}">VOIR</button></td>
					<td ng-class="{'text-primary': hover}">{{trng.trng_date | date: 'fullDate'}}</td>
					<td ng-class="{'text-primary': hover}">{{trng.type.trty_name}}<span class="pull-right"><span ng-repeat="cert in trng.type.certificates">&nbsp;<label class="label" ng-class="{'label-success': trng.trem_outcome === 'VALIDATED', 'label-danger': trng.trem_outcome === 'FLUNKED'}">{{cert.cert_short}}</label></span></span></td>
					<td>{{trng.trem_comment}}</td>
					<td ng-init="(trng.trem_outcome !== 'SCHEDULED') ? trng.validated = trng.trem_outcome === 'VALIDATED' : null">
						<input bswitch="trng.validated" data-indeterminate="true" type="checkbox" name="my-checkbox" data-on-color="success" data-off-color="danger" data-on-text="Valid&eacute;(e)" data-off-text="Recal&eacute;(e)" data-label-width="0" readonly />
					</td>
				</tr>
			</tbody>
		</table>
		<div class="panel-footer text-center">
			<td colspan="5" class="text-center">
				<div st-pagination="" st-items-by-page="pageSize" st-displayed-pages="7"></div>
			</td>
		</div>
	</div>
</div>

<div class="side-panel-container text-right" if-role="admin">
	<button type="button" class="btn btn-raised btn-primary side-panel-item" ng-click="editRoles()"><span class="glyphicon glyphicon-wrench"></span>&nbsp;&Eacute;diter privil&egrave;ges</button>
	<button type="button" class="btn btn-raised btn-warning side-panel-item" ng-click="resetPassword()" ng-if="canResetPassword"><span class="glyphicon glyphicon-repeat"></span>&nbsp;R&eacute;initialiser mot de passe</button>
</div>
