<div class="alerts-container">
    <uib-alert class="alert uib-alert {{alert.static ? 'static' : ''}}" ng-repeat="alert in _alerts track by alert.id" type="{{alert.type}}" close="closeAlert(alert)" dismiss-on-timeout="{{alert.static ? '' : 5000}}"
        ng-click="alert.static || closeAlert(alert)">
        <div ng-bind-html="alert.msg"></div>
        <div class="text-center" ng-if="alert.callback">
            <hr />
            <button type="button" class="btn btn-default" ng-click="alertCallback($index) && closeAlert(alert)">{{alert.callbackDisplay || 'Annuler'}}</button>
        </div>
    </uib-alert>
</div>
