body {
    background-color: $brand-primary;
    font-weight: 400;
}

.contact-us,
.contact-us:focus,
.contact-us:hover {
    color: darken(white, 10%);
}

.navbar .uib-typeahead .dropdown-menu li>a {
    padding: 3px 20px;
    font-size: 14px;
    &:hover {
        background: $brand-primary;
    }
}

.top-panel {
    background: #fff;
    padding: 20px 0;
    margin: 0px;
    text-align: center;
    .logo img {
        max-height: 80px;
        max-width: 250px;
    }
}

.version {
    color: #e6e6e6
}

.absolute-center {
    pointer-events: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .circle {
        z-index: -1;
        border-radius: 50%;
        width: 500px;
        height: 500px;
        transform: translate(-250px, -250px);
        background-color: white;
        animation: expand 2s forwards;
        @keyframes expand {
            0% {
                transform: scale(0);
            }
            100% {
                transform: scale(10);
                opacity: 0;
            }
        }
    }
}

.alerts-container {
    position: fixed;
    z-index: 10001;
    top: 10px;
    left: 10px;
    width: 400px;
    pointer-events: none;
    .alert {
        border-radius: 3px;
        pointer-events: all;
        .close {
            color: white;
            opacity: .5;
            &:focus,
            &:hover {
                opacity: 1;
            }
        }
        button.btn {
            color: white !important;
            margin: 0 !important;
        }
        a {
            text-decoration: underline;
        }
    }
}

.connection-status {
    margin-top: 7px;
    .btn {
        margin: 10px 1px 0 1px;
    }
}

.content {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: white;
    padding: 10px 20px;
    border-radius: 0 0 4px 4px;
    .jumbotron {
        box-shadow: none !important;
    }
}

header {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .navbar {
        margin: 0 !important;
    }
}

footer {
    padding: 20px 10px;
}

// AdBlock hides .alert.alert-warning
.alert.uib-alert.alert-warning {
    display: block !important;
    visibility: visible !important;
}

.alert.ng-enter {
    -webkit-animation: enter 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: enter 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    position: relative;
}

.alert.ng-leave {
    -webkit-animation: leave 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    animation: leave 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    position: relative;
}

@-webkit-keyframes enter {
    from {
        opacity: 0;
        left: -70px;
    }
    to {
        opacity: 1;
        left: 0px;
    }
}

@keyframes enter {
    from {
        opacity: 0;
        left: -70px;
    }
    to {
        opacity: 1;
        left: 0px;
    }
}

@-webkit-keyframes leave {
    to {
        opacity: 0;
        left: -70px;
    }
    from {
        opacity: 1;
        left: 0px;
    }
}

@keyframes leave {
    to {
        opacity: 0;
        left: -70px;
    }
    from {
        opacity: 1;
        left: 0px;
    }
}
