<div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
        <li ng-class="{ active: isActive('/sites')}" if-role="['access2']"><a href="#/sites">Sites</a></li>
        <li ng-class="{ active: isActive('/sites')}" if-role="['access1', '!access2']"><a href="#/sites/{{currentUser.info.restrictions.accessibleSites[0]}}">Site</a></li>
        <li ng-class="{ active: isActive('/employees')}"><a href="#/employees">Agents</a></li>
        <li class="dropdown" ng-class="{ active: isActive('/trainings')}" if-role="'access4'">
            <a href="" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Formations&nbsp;<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#/trainings">Consulter formations</a></li>
                <li class="divider"></li>
                <li><a href="#/trainings/create" if-role="'trainer'">Cr&eacute;er formation</a></li>
                <li><a href="#/trainings/stats">Dresser statistiques</a></li>
            </ul>
        </li>
    </ul>
    <form class="navbar-form navbar-left">
        <div class="form-group uib-typeahead">
            <input type="text" class="form-control col-md-8" placeholder="Recherche globale..." uib-typeahead="select as select.summary for select in globalIndex | filterGlobal:$viewValue | limitTo:8"
                ng-model="navbar.select" ng-focus="refreshIndex()" />
        </div>
    </form>
    <ul class="nav navbar-nav navbar-right">
        <li ng-class="{ active: isActive('/account')}"><a href="#/account">Mon compte</a></li>
        <li class="dropdown" ng-class="{ active: isActive('/administration')}" if-role="'admin2'">
            <a href="" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Administration&nbsp;<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#/administration/certificates" if-role="'admin3'">Aptitudes et types de formation</a></li>
                <li><a href="#/administration/sites" if-role="'admin2'">Sites et d&eacute;partements</a></li>
                <li><a href="#/administration/users" if-role="'admin4'">Utilisateurs et profils</a></li>
                <li class="divider" if-role="'admin2'"></li>
                <li><a href="#/administration/update" if-role="'admin2'">Mise &agrave; jour</a></li>
            </ul>
        </li>
    </ul>
</div>
