<form class="panel panel-primary form form-horizontal" ng-submit="callback(empl, closeThisDialog)" autocomplete="off">
    <div class="panel-heading">
        S&eacute;lectionner agent
        <span class="clickme pull-right" ng-click="closeThisDialog()">&nbsp;<span class="glyphicon glyphicon-remove"></span></span>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="row">
                <label for="inputEmpl" class="control-label col-xs-4">Agent</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" ng-model="empl" placeholder="Rechercher..." class="form-control" uib-typeahead="empl as empl.summary for empl in employees | filterEmpl:$viewValue | limitTo:8"
                    />
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer text-center">
        <button type="submit" class="btn btn-primary" ng-disabled="!empl.empl_pk">Confirmer</button>
    </div>
</form>
