<h3>Gestion des utilisateurs</h3>
<br />

<div class="row" st-table="shown" st-safe-src="users">
	<div class="col-md-10 col-md-offset-1">
		<div class="panel panel-primary">
			<div class="panel-heading">Gestion des privil&egrave;ges</div>
			<div class="panel-body">

				<ul style="list-style-type: none;">
					<li>
						<span class="glyphicon glyphicon-user"></span>&nbsp;-&nbsp;<strong>{{usersCount}}</strong> utilisateur(s), dont&nbsp;:
						<ul style="list-style-type: none;">
							<li>
								<span class="glyphicon glyphicon-user text-primary"></span>&nbsp;-&nbsp;<strong>{{trainersCount}}</strong> <span class="text-primary">formateur(s)</span>
							</li>
							<li>
								<span class="glyphicon glyphicon-user text-success"></span>&nbsp;-&nbsp;<strong>{{adminsCount}}</strong> <span class="text-success">administrateur(s)</span>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th class="shrinkable" width="0%"></th>
						<th class="st-sort shrinkable" width="20%" st-sort="empl_pk" st-skip-natural="true">Matricule</th>
						<th class="st-sort shrinkable" width="35%" st-sort="empl_surname" st-skip-natural="true">Nom</th>
						<th class="st-sort shrinkable" width="35%" st-sort="empl_firstname" st-skip-natural="true">Pr&eacute;nom</th>
						<th class="shrinkable" width="10%">R&ocirc;les</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in shown" ng-mouseenter="hover=true" ng-mouseleave="hover = false">
						<td class="clickme" ng-click="edit(user)"><button type="button" class="btn btn-primary btn-xs" ng-disabled="!hover">Modifier</button></td>
						<td class="clickme" ng-click="edit(user)">{{user.empl_pk}}</td>
						<td class="shrinkable clickme" ng-click="edit(user)" ng-class="{'text-primary': hover}">{{user.empl_surname}}</td>
						<td class="shrinkable clickme" ng-click="edit(user)" ng-class="{'text-primary': hover}">{{user.empl_firstname}}</td>
						<td>
							<span ng-repeat="roleName in ['user', 'trainer', 'admin']">
								<span ng-if="user.roles.indexOf(roleName) !== -1" class="glyphicon glyphicon-user" ng-class="{'text-primary': roleName === 'trainer', 'text-success': roleName === 'admin'}" uib-tooltip="{{roles[roleName].role_display}}">
								</span>
							</span>
						</td>
						<td><button type="button" class="btn btn-warning btn-sm" ng-disabled="!hover" ng-click="resetPassword(user)">R&eacute;init. mdp.</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="side-panel-container text-right" if-role="admin">
	<button type="button" class="btn btn-raised btn-primary side-panel-item" ng-click="create()"><span class="glyphicon glyphicon-wrench"></span>&nbsp;Cre&eacute;er/Modifier compte</button>
</div>
